/* User.css */

.user-page {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navigation {
  margin-bottom: 20px;
}
.search-section { 

  background-color: #333; 
  
  } 
  
   
  
  .search-bar { 
  
  width: 60%; 
  
  padding: 8px; 
  
  font-size: 16px; 
  
  border: none; 
  
  border-radius: 4px; 
  
  } 
  
   
  
  .nav-icons { 
  
  display: flex; 
  
  gap: 20px; 
  
  font-size: 24px; 
  
  } 
.navigation h1 {
  color: #C8102E; /* Change this color as needed */
  font-size: 24px;
  margin-bottom: 10px;
}

.navigation nav {
  background-color: #C8102E;
  padding: 10px;
  border-radius: 5px;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navigation li {
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.navigation li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navigation li.active {
  background-color: #A61228; /* Darker shade for active tab */
}

.content {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab-content {
  margin-top: 20px;
}

.tab-content h2 {
  color: #C8102E; /* Same color for consistency */
  font-size: 20px;
}

.tab-content ul {
  list-style-type: none;
  padding: 0;
}

.tab-content li {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tab-content li:hover {
  background-color: #e0e0e0;
}

.tab-content h3 {
  margin-top: 20px;
  color: #C8102E; /* Consistent color */
}
